.footer_card {
    display: flex;
}

.btn {
    background-color: rgba(225,48,185,1);
    border:rgba(163,48,225,1) ;
}
.btn:hover {
    background-color:rgba(163,48,225,1);
}

.price {
    padding: 1rem;
}